# Entorno virtual
venv/
.venv/

# Archivos temporales de Python
*.pyc
*.pyo
*.log

# Configuración del sistema operativo
.DS_Store
Thumbs.db

# Archivos relacionados con Pyenv
.pyenv

# Archivos de entorno (como variables secretas)
.env
